extends ../layout
include ../mixins/week

block content
  h2 
    span Hours Dashboard
    a.btn.btn-success.pull-right#download_hours Download User CSV
    a.btn.btn-primary.pull-right#download_project_hours Download Project CSV
  hr
  div.container
    div.content
      div.panel-group(id="accordion" role="tablist")
        each u in hours
          div.panel.panel-default
            div.panel-heading(role="tab")
              h3.panel-title
                a(role="button"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#"+u.name)= u.name
            div.panel-collapse.collapse.in(id=u.name role="tabpanel")
              div.panel-body
                table.table.table-hover
                  thead
                    tr
                      th.col-md-3 Project
                      each week in u.data
                        +formatWeek(week.week)
                  tbody
                    each project in u.projects
                      tr
                        td.col-md-3= project
                        each week in u.data
                          - var found = false
                          each item in week.projects
                            if item.name == project
                              - found = true
                              td.col-md-2= item.hours
                          - if (!found)
                            td.col-md-2= 0
                    tr
                      td.col-md-3
                        strong Total
                      each week in u.data
                        td.col-md-2
                          strong= week.projects.reduce(function(total, project) { return total + project.hours; }, 0)