extends ../layout
include ../mixins/week

block content
  h2 Hours Dashboard
  hr
  div.container
    div.content  
      each u in hours
        h3= u.name
        table.table.table-hover
          thead
            tr
              th Project
              each week in u.data
                +formatWeek(week.week)
          tbody
            p= u.projects
            each project in u.projects
              tr
                td= project
                each week in u.data
                  - var found = false
                  each item in week.projects
                    if item.name == project
                      - found = true
                      td= item.hours             
                  - if (!found)
                    td= 0
            tr
              td
                strong Total
              each week in u.data
                td
                  strong= week.projects.reduce(function(total, project) { return total + project.hours; }, 0)