extends ../layout

block content
  h2 My Hours
  hr
  div.container
    div.content
      table.table.table-bordered#my_hours_table
        thead
          tr
            th Project
            th Hours per week
        tbody
          if hours
            if hours.projects
              each project in hours.projects
                tr
                  td(class="col-md-6")
                    select(type="text" class="form-control" value=project.name)
                      each newProj in projects
                        if project.name == newProj.name
                          option(selected= true)= newProj.name
                        else
                          option= newProj.name
                  td
                    input(type="text" class="form-control" value=project.hours)
          tr
            td(class="col-md-6")
              select(type="text" class="form-control")#project_select
                each newProj in projects
                  option= newProj.name
            td
              input(type="text" class="form-control")
        //- Totals
        tr
          td.col-md-3
            strong Total
          td.col-md-2
            strong#total_hours 0
    
      a.btn.btn-default.pull-left#add_row Add Row
      a.btn.btn-success.pull-right#post_hours Submit