extends ../layout

block content
  h2 Users
  hr
  div.container
    div.content
      table.table.table-bordered#projects_table
        tbody
          if users
              each user in users
                div.panel.panel-default.col-md-3
                  div.panel-body
                    if user.profile.picture
                      img.img-responsive(src=user.profile.picture style="margin: 0 auto;")
                    else
                      img.img-responsive(src=user.gravatar(60) style="margin: 0 auto;")
                    div.row
                      h4.text-center #{user.profile.name || user.email || user.id}
                      h5.text-center #{user.roles || "user"}
                    div.row
                      div.list-group
                        case user.roles.indexOf('admin')
                          when -1
                            a.list-group-item.admin_one
                              h4 Grant Administrator Rights
                              p No one needs these!  
                            div.list-group-item.admin_two(style="display:none;")
                                h4 Grant Administrator Rights to #{user.profile.name}?
                                a.button.btn.btn-danger.confirm.make_admin(type='submit' data-user=user.email).make_admin
                                  | Grant
                                a.button.btn.btn-default.cancel
                                  | Cancel
                          default
                            a.list-group-item.admin_one
                              h4 Revoke Administrator Rights
                              p No one needs these!  
                            div.list-group-item.admin_two(style="display:none;")
                                h4 Revoke Administrator Rights from #{user.profile.name}?
                                a.button.btn.btn-danger.confirm(type='submit' data-user=user.email).revoke_admin
                                  | Revoke
                                a.button.btn.btn-default.cancel
                                  | Cancel      
                        a.list-group-item.deactivate_one
                          h4 Deactivate User
                          p Get rid of this guy!
                        div.list-group-item.deactivate_two(style="display:none;")
                            h4 Deactivate User #{user.profile.name}?
                            a.button.btn.btn-danger.confirm(type='submit' data-user=user.email).deactivate_user
                              | Revoke
                            a.button.btn.btn-default.cancel
                              | Cancel
                        a.list-group-item.delete_one
                          h4 Permanently Delete User
                          p Get rid of this guy forever!
                        div.list-group-item.delete_two(style="display:none;")
                            h4 Delete User #{user.profile.name}?
                            a.button.btn.btn-danger.confirm(type='submit' data-user=user.email).delete_user
                              | Revoke
                            a.button.btn.btn-default.cancel
                              | Cancel