extends ../layout

block content
  h2 Users
  hr
  div.container
    div.content
      table.table.table-bordered#projects_table
        tbody
          if users
              each user in users
                tr
                  td.col
                    if user.profile.picture
                      img(src=user.profile.picture)
                    else
                      img(src=user.gravatar(60))
                  td.col-md-10
                    h4 #{user.profile.name || user.email || user.id}
                    h5 Roles: #{user.roles}
                  td.col
                    case user.roles.indexOf('admin')
                      when -1
                        a.button.btn.btn-block.btn-info(type='submit' data-user=user.email).make_admin
                          i.fa.fa-wrench
                          | Make Admin                         
                      default
                        a.button.btn.btn-block.btn-warning(type='submit' data-user=user.email).revoke_admin
                          i.fa.fa-close
                          | Revoke Admin
                    a.button.btn.btn-block.btn-info(type='submit' data-user=user.email).deactivate_user
                      i.fa.fa-times-circle-o
                      | Deactivate
                    a.button.btn.btn-block.btn-danger(type='submit' data-user=user.email data-toggle='modal' data-target='.delete-user-modal')
                      i.fa.fa-times-circle-o
                      | Delete                      
              div.modal.fade.delete-user-modal(tabindex='-1' role='dialog' arai-labelledby='Delete User Confirmation')
                div.modal-dialog.modal-sm(role='document')
                  div.modal-content
                    div.modal-header
                      h5 Remove User "#{user.profile.name}" from Ration?
                    div.modal-footer
                      a.button.btn.btn-danger(type='submit' data-user=user.email).delete_user Delete User
                      a.button.btn.btn-default(data-dismiss='modal') Cancel

