extends ../layout

block content
  h2 Users
  hr
  div.container
    div.content#users_table
          if users
              each user in users
                div.col-md-3.draggable
                    div.panel.panel-default
                      div.panel-heading.handle
                      div.panel-body
                        if user.profile.picture
                          img.img-responsive.img-circle(src=user.profile.picture style="margin: 0 auto;")
                        else
                          img.img-responsive.img-circle(src=user.gravatar(50) style="margin: 0 auto;")
                        div.row
                          h4.text-center #{user.profile.name || user.email || user.id}
                          if user.roles.length > 0
                            h5.text-center #{user.roles}
                          else
                            h5.text-center user
                        div.row
                          div.list-group.col-md-11.col-md-offset-1
                            case user.roles.indexOf('admin')
                              when -1
                                div.admin
                                    a.list-group-item.admin_one(style="cursor: pointer;")
                                      h5 Grant Administrator Rights
                                    div.list-group-item.admin_two.first-child(style="display:none;")
                                        h5 Grant Administrator Rights?
                                        a.button.btn.btn-success.btn-block.btn-sm.confirm.make_admin(type='submit' data-user=user.email).make_admin
                                          | Grant
                                        a.button.btn.btn-default.btn-block.btn-sm.cancel
                                          | Cancel
                              default
                                div.admin
                                    a.list-group-item.admin_one(style="cursor: pointer;")
                                      h5 Revoke Administrator Status 
                                    div.list-group-item.admin_two.first-child(style="display:none;")
                                        h5 Revoke Admin Status?
                                        a.button.btn.btn-danger.btn-block.btn-sm.confirm(type='submit' data-user=user.email).revoke_admin
                                          | Revoke
                                        a.button.btn.btn-default.btn-block.btn-sm.cancel
                                          | Cancel  
                            div.deactivate
                                a.list-group-item.middle-child.deactivate_one(style="cursor: pointer;")
                                  h5 Deactivate User
                                div.list-group-item.middle-child.deactivate_two(style="display:none;")
                                    h5 Deactivate User?
                                    a.button.btn.btn-danger.btn-block.btn-sm.confirm(type='submit' data-user=user.email).deactivate_user
                                      | Deactivate
                                    a.button.btn.btn-default.btn-block.btn-sm.cancel
                                      | Cancel
                            div.delete
                                a.list-group-item.last-child.delete_one(style="cursor: pointer;")
                                  h5 Permanently Delete User
                                div.list-group-item.last-child.delete_two(style="display:none;")
                                    h5 Delete User?
                                    a.button.btn.btn-danger.btn-block.btn-sm.confirm(type='submit' data-user=user.email).delete_user
                                      | Delete
                                    a.button.btn.btn-default.btn-block.btn-sm.cancel
                                      | Cancel